<div class="content_box" ng-scrollbars>
	<h1 class="page_tit">用户管理</h1>
	<!-- 最多允许5个搜索项 -->
	<div class="operate_area container-fluid">
		<div class="row clearfix">
			<div class="col-sm-4 col-md-3 col-lg-2 input_container clearfix">
				<label class="input_description fl">昵称:</label>
				<div class="input_box">
					<input type="text" ng-model="searchInfo.nickName">
				</div>
			</div>
			<div class="col-sm-4 col-md-3 col-lg-2 input_container clearfix">
				<label class="input_description fl">电话号码:</label>
				<div class="input_box">
					<input type="text" ng-model="searchInfo.telephone">
				</div>
			</div>
			<div class="col-sm-4 col-md-3 col-lg-2 input_container clearfix">
				<label class="input_description fl">状态:</label>
				<div class="input_box">
					<select ng-model="searchInfo.status">
						<option value="">全部</option>
						<option value="STATUS_NORMAL">正常</option>
						<option value="STATUS_DISABLE">禁用</option>
					</select>
				</div>
			</div>
			<button type="button " class="me-btn fl btn-primary"
				ng-click="gatDataLists('0')"
				has-permission="/v1/user/getByConditions&GET">
				<i class="iconfont icon-sousuo"></i>搜索
			</button>
			<button type="button" ng-click="resetSearchInfo()"
				class="me-btn fl reset_btn">重置</button>

		</div>
	</div>

	<div class="contents">
		<table class="table my_table">
			<thead>
				<tr>
					<th width="28px"></th>
					<th width="75px">ID</th>
					<th>昵称</th>
					<th>头像</th>
					<th>联系电话</th>
					<th>性别</th>
					<th>城市</th>
					<th>状态</th>
					<th>创建时间</th>
					<th>最后登陆时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in dataLists">
					<td></td>
					<td>{{item.id | limitTo:6}}</td>
					<td>{{item.nickName}}</td>
					<td><img ng-src="{{item.cover}}" width="40px" height="40px"></td>
					<td>{{item.userContact.phone}}</td>
					<td>{{item.sex=="1"?"男":"女"}}</td>
					<td>{{item.city}}</td>
					<td>{{item.status=="STATUS_NORMAL"?"正常":"禁用"}}</td>
					<td>{{item.createDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
					<td>{{item.lastLoginTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
					<td>
						<!--<a class="op_item" ui-sref="me.orderDetail">详情</a>-->
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td>
						<!--<input type="checkbox">-->
					</td>
					<td colspan="11">
						<!-- 批量操作 -->
						<div class="batch_operate_area clearfix fl"></div>
						<nav class="fr pagination_box">
							<p class="pagination_total fl">共 {{pageParams.totalItems}}
								条数据，每页 {{pageParams.itemsPerPage}} 条，共 {{pageParams.totalPages}}
								页</p>
							<ul ng-if="pageParams.totalItems" uib-pagination
								boundary-links="true" total-items="pageParams.totalItems"
								ng-model="pageParams.currentPage" class="pagination-sm"
								items-per-page="pageParams.itemsPerPage"
								max-size="pageParams.maxSize" previous-text="&lsaquo;"
								next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
								ng-change="gatDataLists()"></ul>
						</nav>
					</td>
					<td></td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
